.card {
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px 20px 30px 20px;
  background: white;
  min-width: 400px;
  flex: 0 1 45%;
  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .meeting-pop-hint {
      visibility: hidden;
      position: absolute;
      width: 50%;
      min-height: 35px;
      top: 50px;
      left: 0;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
      background-color: whitesmoke;
      z-index: 99;
      border-radius: 12px;
    }
    .hint {
      visibility: hidden;
      background-color: whitesmoke;
      border-radius: 30px;
      height: 24px;
      width: 24px;
      border: 1px solid rgb(174, 165, 233);
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(174, 165, 233);
      cursor: pointer;
      margin: 10px;
    }

    &:hover .hint {
      visibility: visible;
      &:hover {
        background-color: rgb(199, 193, 244);
        color: slateblue;
        & .meeting-pop-hint {
          visibility: visible;
        }
      }
    }
  }

  .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    color: slateblue;
    // border: 1px solid transparent;
    opacity: 0.8;
    display: inline-block;
    &:hover {
      // border-bottom: 1px solid slateblue;
      transition: border 0.5s;
      opacity: 1;
    }
  }
}
.tab-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 12px;
}
.active-tab {
  color: slateblue;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  background: rgba(161, 149, 235, 0.18);
  border-radius: 8px;
}
.inactive-tab {
  color: royalblue;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background: rgba(105, 90, 205, 0.084);
  }
}
