.user-table {
  background: white;
  width: 90%;
  margin: auto;

  tr:hover {
    border: 1px solid palegoldenrod;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  }
  .even-row {
    background: lemonchiffon;
  }
  .edit-row {
    background: wheat;
  }
}
th {
  padding: 12px;
  font-weight: 300;
  // text-transform: uppercase;
}
td {
  text-align: left;
  padding: 5px 20px;
  font-size: 14px;
}
