body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: -webkit-fill-available;
  position: relative;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
}
button {
  color: white;
  padding: 5px 10px;
  margin: 5px 20px;
  outline: none;
  border: none;
  font-size: 12px;
  letter-spacing: 1;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.4s;
  &:active {
    background-color: tomato;
    padding: 7px 10px 3px 10px;
  }
}
.main {
  background-color: royalblue;
  margin: 8;
  &:hover {
    background-color: blue;
  }
}
.secondary {
  background-color: slategray;
  margin: 8;
  &:hover {
    background-color: slateblue;
  }
}
.nav-link {
  color: tomato;
}
.pop-up-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  display: flex;

  .pop-up {
    position: relative;
    background-color: white;
    width: 80%;
    margin-top: 10%;
    min-height: 35vh;
    padding: 12px;
    border-radius: 22px;
  }
}
