.page-block {
  background-color: white;
  margin: 8px;
  flex-basis: 33%;
  padding: 16px;
  border-radius: 16px;
}
.page-flex {
  display: flex;
  margin: 8px auto;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
.details {
  font-size: 12px;
}
