.ava-user {
  background: cornflowerblue;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
}
.user-profile-ava {
  background: cornflowerblue;
  color: white;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-eval-line {
  display: flex;
  justify-content: center;
}
.user-eval-item {
  border-radius: 8px;
  background: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin-right: 6px;
}
.user-eval-chip {
  background: rgb(216, 231, 244);
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}
