.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: white;
  font-size: 16px;
  min-width: 100px;
  text-decoration: none;
  &:hover {
    color: rgb(197, 188, 255);
  }
}
.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 5px 20px;
}
